<a href="https://colab.research.google.com/github/kabali2897/Codings/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#python keywords
import keyword
print(len(keyword.kwlist))

35

 Defining a varible

In [5]:
a=10   #integer
b=20.3 #float/double
c="abc" #string

In [6]:
a,b,c=10,20.3,"abc"

To print address

In [8]:
print(id(a))

93873356684064

code to print type of identifier

In [13]:
print(type(a))
print(type(b))
print(type(c))

d=2+2j
e=True
print(type(d))
print(type(e))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'complex'>
<class 'bool'>

String in Python

In [19]:
s= "Welcome to TCS"
#print(s)
#print(s[0])
print(s[5:])
print(s[5::2])  #print increment
print(s[::-1])  #reverse printing

me to TCS
m oTS
SCT ot emocleW

List in Python :
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.

In [26]:
emptyList=[]
listOfNumbers=[1,2,3,4,5]
listOfString=["abc","bcd"]
list4=[1,2,3,4,5,"abc",True]

print(list4[4])
print(list4[-1])
list4.append("Hello")   #to add string/number to list
print(list4)
list4.remove("abc")
print(list4)

5
True
[1, 2, 3, 4, 5, 'abc', True, 'Hello']
[1, 2, 3, 4, 5, True, 'Hello']

Tuple in Python : Tuples are used to store multiple items in a single variable.immutable

In [ ]:
t=

Sets in Python :

In [27]:
s=set()  #empty set
s={1,2,3,3,4,4,5,5,6,6,7,7}     #empty dictionary
print(s)

{1, 2, 3, 4, 5, 6, 7}

Dictionary in Python

In [ ]:
dtc={}

In [31]:
dtc={1:"Hello",2:"How",3:"are",4:"you"}
print(dtc)
print(dtc.keys())
print(dtc.values())
dtc[5]="arun"
print(dtc)

{1: 'Hello', 2: 'How', 3: 'are', 4: 'you'}
dict_keys([1, 2, 3, 4])
dict_values(['Hello', 'How', 'are', 'you'])
{1: 'Hello', 2: 'How', 3: 'are', 4: 'you', 5: 'arun'}

Converting data types

In [36]:
lst=[1,2,3,4]
print(type(lst))
a=tuple(lst)
print(a)
print(type(a))
a=set(a)
print(a)
print(type(a))
a=list(a)
print(a)
print(type(a))

<class 'list'>
(1, 2, 3, 4)
<class 'tuple'>
{1, 2, 3, 4}
<class 'set'>
[1, 2, 3, 4]
<class 'list'>

Sorting of list

In [38]:
lst=[9,7,0,1,5,2,4]
lst.sort()
print(lst)

[0, 1, 2, 4, 5, 7, 9]

In [41]:
lst=[9,7,0,1,5,2,4]
b=sorted(lst,reverse=True)
print(b)
#reverse
#reverse=True

[9, 7, 5, 4, 2, 1, 0]

Taking input in python

In [ ]:
a=input()

In [ ]:
print(a)
print(type(a))

In [ ]:
a=int(input())

Condition in Python

In [49]:
a=10
b=20
c=30
if(a>b):
  print (a)
elif(b>c):
  print(b)
else:
  print (c)

30

While loop

In [55]:
lst=[1,2,3,4,5,6,7,8,9]
start=0
end=len(lst)
while start<end:
  print(lst[start],end=" ")
  start=start+1

1 2 3 4 5 6 7 8 9

For loop

In [58]:
lst=[1,2,3,4,5,6,7,8,9]
for i in lst:
  print(i,end=" ")

1 2 3 4 5 6 7 8 9

In [64]:
lst=[1,2,3,4,5,6,7,8,9]
for i in range(1,15,2): #increamented by 2
  print(i,end=" ")

1 3 5 7 9 11 13

Break and continue

In [66]:
for i in range(1,15,2):
   if(i==5):
     break
   print(i,end=" ")

1 3

In [67]:
for i in range(1,15,2):
   if(i==5):
     continue
   print(i,end=" ")

1 3 7 9 11 13

Functions in Python

In [68]:
def add(a,b):
  print(a+b)

In [69]:
add(5,10)

15

In [71]:
def add(a,b):
  return a+b

In [74]:
c= add(5,15)
print (c)

20

Oops in python

In [82]:
class Human:
  def __init__(self,hairColor,height,eyeColor):
    self.hairColor=hairColor
    self.height=height
    self.eyeColor=eyeColor

In [83]:
A = Human("Red","Long","Black")

In [87]:
B=Human("Black","Small","Brown")

In [ ]:
print(B.haircolor)

Lambda Functions : To use multiple parameters

In [90]:
x=lambda a,b:a+b
print(x(20,50))

70

How to use keys in sorted method

In [91]:
lst=[1,3,4,6]
print(sorted(lst))

[1, 3, 4, 6]

In [96]:
lst =[[1,3],[0,9],[4,1]]
print(sorted(lst))
#sorted by second values
print(sorted(lst,key=lambda x:x[1]))

[[0, 9], [1, 3], [4, 1]]
[[4, 1], [1, 3], [0, 9]]